<div class="container col-md-6 ">
  <div class="card">
    <div class="card-header">
      <h3>Editar Cliente</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Identificación:</label>
          <input type="number" class="form-control" [(ngModel)]="Cliente.IdCliente" name="IdCliente" >
        </div>
        <div class="form-group">
          <label for="">Nombre:</label>
          <input type="text" class="form-control" [(ngModel)]="Cliente.NombreCliente" name="NombreCliente">
        </div>
        <div class="form-group">
          <label for="">Apellido:</label>
          <input type="text" class="form-control" [(ngModel)]="Cliente.ApellidoCliente" name="ApellidoCliente">
        </div>
        <div class="form-group">
          <label for="">Telefono:</label>
          <input type="text" class="form-control" [(ngModel)]="Cliente.Telefono" name="Telefono">
        </div>
        <div class="form-group">
          <label for="">Correo:</label>
          <input type="text" class="form-control" [(ngModel)]="Cliente.Correo" name="Correo">
        </div>
        <div class="form-group">
          <label for="">Direccion:</label>
          <input type="text" class="form-control" [(ngModel)]="Cliente.Direccion" name="Direccion">
        </div>
        <div class="form-group">
          <label for="">Ciudad:</label>
          <input type="text" class="form-control" [(ngModel)]="Cliente.Ciudad" name="Ciudad">
        </div>
        <button class="btn btn-danger" (click)="Actualizar(Cliente)">Actualizar</button>
      </form>
    </div>
  </div>
</div>
